<div>
  <p style="color: green"><%= notice %></p>

  <h1> Search Records and Analytics </h1>

  <form id="search-form">
    <label for="query">Search:</label>
    <input type="text" id="query" name="query" placeholder="Search...">
    <%#<button type="submit">Search</button> %>
  </form>

  <h2> My Recent Searches </h2>
  <ul id="recent-searches-list">
    <% @my_recent_searches.each do |search| %>
      <li> <%= search.query %> </li>
    <% end %>
  </ul>

  <h2 class="globalAnalyticsHeader"> Global Analytics <h5>(Refresh to see)</h5></h2>
  
  <div class="tableDiv">
    <table>
      <tr>
        <th>Search term </th>
        <th>Frequency </th>
      </tr>
      <% @search_records.group(:query).count.sort_by { |query, count| -count }.each do |query, count| %>
        <tr class="tr">
          <td> <%= query %> </td>
          <td> <%= count %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){

  // Record and save user search in realtime
  const searchForm = $('#search-form');
    const searchbar = $('#query');

    searchbar.on('input', function(event){
      event.preventDefault();
      const queryValue = searchbar.val();
      console.log(queryValue)

      if (queryValue !== '') {
        fetch('/search', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
          body: JSON.stringify({ query: queryValue })
        })
        .then(response => response.json())
        .catch(error => console.error(error));
      }
    });

    // Update recent search
    $('#query').on('input', function(e) {
      e.preventDefault();

      const query = $('#query').val();

      $.ajax({
        type: 'POST',
        url: '/search',
        data: { query: query },
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
        },
        success: function() {
          $('#recent-searches-list').load(window.location.href + ' #recent-searches-list');      
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });
  });
</script>
