<div>
  <p style="color: green"><%= notice %></p>

  <h1> Search Records and Analytics </h1>

  <form id="search-form">
    <label for="query">Search:</label>
    <input type="text" id="query" name="query" placeholder="Search...">
    <%#<button type="submit">Search</button> %>
  </form>

  <h2> Analytics</h2>
  
  <div class="tableDiv">
    <table>
      <tr>
        <th>Search term </th>
        <th>Frequency </th>
      </tr>
      <% @search_records.group(:query).count.sort_by { |query, count| -count }.each do |query, count| %>
        <tr class="tr">
          <td> <%= query %> </td>
          <td> <%= count %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){

  // Record and save user search in realtime
  const searchForm = $('#search-form');
    const searchbar = document.getElementById('query')
    searchbar.addEventListener('input', function(event){
      event.preventDefault();
      if (query.value !== '') {
        fetch('/search', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
          },
          body: JSON.stringify({ query: query.value })
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
        })
        .catch(error => console.error(error));
      }
    })
  })

</script>
